.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 2.5rem;
        right: 2.5rem;
        border-radius: 50%;
        z-index: 2000;

        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 3rem;
        right: 3rem;
        background-image: radial-gradient(
            $color-primary-light,
            $color-primary-dark
        );
        z-index: 1000;

        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

        //transform: scale(1000);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 0rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 400;
            padding: 1rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(
                120deg,
                transparent 0%,
                transparent 50%,
                $color-white 50%
            );
            background-size: 300%;
            transition: all 0.4s ease-out;
            border-radius: 0.3rem;

            span {
                margin-right: 1rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary-dark;
        }
    }

    // FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(200);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // ICON
    &__icon {
        position: relative;
        margin-top: 3.25rem;
        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
        }

        &::before,
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            transition: all 0.1s;
        }

        &::before {
            top: -0.8rem;
        }
        &::after {
            top: 0.8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
